// Define Sass variables
$primary-color: #6a45cf;
$secondary-color: #c4d7fa;
$font-size-base: 1rem;

// Import Bootstrap's Sass source files
@import "../../node_modules/bootstrap/scss/bootstrap";

// Override Bootstrap variables
$body-bg: $primary-color;
$text-color: $secondary-color;

// Custom styles
body {
  background-color: $body-bg;
  color: $text-color;
  font-size: $font-size-base;
}

.title-card{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1rem;
  opacity: 0;
  text-align: left;
  font-size: 8rem;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
  position: relative;
  margin: 2rem;
  padding: 1.6rem;
}

.menu-option{
  color: $secondary-color;
  background-color: rgb($secondary-color,0);
  opacity: 0;
  text-align: left;
  font-size: 2rem;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
  position: relative;
  margin: 0.4rem;
  padding: 0.4rem;
}

// Define a mixin for rounded corners
@mixin rounded-corners($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius; // for older browsers
    -moz-border-radius: $radius; // for older browsers
}

// Define a mixin for responsive font sizes
@mixin responsive-font($small, $medium, $large) {
    font-size: $small;
    
    @media (min-width: 600px) {
      font-size: $medium;
    }
    
    @media (min-width: 1200px) {
      font-size: $large;
    }
}

// Define a mixin for box shadows
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow; // for older browsers
  -moz-box-shadow: $shadow; // for older browsers
}

.button {
  @include rounded-corners(10px);
  @include box-shadow(2px 2px 5px #000000);
  background-color: $secondary-color;
  color: #383838;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

.header-title {
  @include responsive-font(16px, 20px, 24px);
  color: #ffffff;
  font-weight: bold;
}